/netbean/WebApplication/nbproject/private/
/netbean/WebApplication/build/
/netbean/WebApplication/dist/
/test/TestWeb/nbproject/private/
/test/TestWeb/build/
/test/TestWeb/dist/
/test/test/nbproject/private/
/test/test/build/
/test/test/dist/
/.metadata/
